[mysqld]
user = mysql
port = 3306
datadir = /var/lib/mysql

# SSL / TLS settings
ssl-ca = /home/rahul.mohanasundaram/Documents/AVX_Works/PQC/input-folders/temp_folders_copy/CertificateScanning/Rootcopy.crt
ssl-cert = /home/rahul.mohanasundaram/Documents/AVX_Works/PQC/input-folders/temp_folders_copy/CertificateScanning/test.appviewx.com.crt
ssl-key = /etc/mysql/server-key.pem

# Encryption plugin (optional)
early-plugin-load = keyring_file.so
keyring_file_data = /var/lib/mysql-keyring/keyring
