name: Run PQC_Assessment_Tool

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  security-events: write
  contents: read

jobs:
  run-pqc-assessment:
    runs-on: [self-hosted]

    steps:
      - name: Checkout Target Repository
        uses: actions/checkout@v3 
        with:
          repository: ${{ github.repository }}
          fetch-depth: 0

      
      - name: Validate Input Folder
        shell: powershell
        run: |
          Write-Host "Checking input folder..."
          if (Test-Path "target-repo") {
            Write-Host "Folder exists:"
            Get-ChildItem -Force "target-repo"
          } else {
            Write-Error "Input folder does not exist!"
            exit 1
          }

      - name: Prepare Output Folder
        shell: powershell
        run: |
          Write-Host "Creating output folder..."
          New-Item -ItemType Directory -Force -Path "output-folder" | Out-Null
          Write-Host "Output contents:"
          Get-ChildItem -Force "output-folder" -ErrorAction SilentlyContinue

      - name: Run PQC_Assessment Executable
        shell: powershell
        run: |
          Write-Host "Running PQC Tool..."
          & "C:\code-scan\code-scan-agent.exe" --input-folder ".\target-repo" --output-folder ".\output-folder" --key "C:\code-scan\secret.key" --config "C:\code-scan\config.ini"

      - name: Upload CBOM output as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CBOM-output
          path: output-folder

      - name: Find SARIF file
        id: find_sarif
        shell: powershell
        run: |
          $sarif = Get-ChildItem -Path "output-folder" -Filter *.sarif -ErrorAction SilentlyContinue | Select-Object -First 1
          if (-not $sarif) {
            Write-Error "No SARIF file found in output-folder"
            exit 1
          }
          Write-Host "Found SARIF file: $($sarif.FullName)"
          echo "sarif_path=$($sarif.FullName)" >> $env:GITHUB_OUTPUT

      - name: Upload SARIF Results
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.find_sarif.outputs.sarif_path }}
